<div ng-controller="DogIndex as vm">
	<h3>Adicione um Cãozinho</h3>

	<form class="mdl-shadow--2dp">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="sample3" ng-model="vm.dog.breed">
			<label class="mdl-textfield__label" for="sample3">Raça</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <select class="mdl-textfield__input" type="text" id="sample3" ng-model="vm.dog.gender">
			  <option value="Macho">Macho</option>
			  <option value="Fêmea">Fêmea</option>
			</select>
			<label class="mdl-textfield__label" for="sample3">Gênero</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<span style="position: relative; float: left;">Castrado</span>
		    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
				<input type="checkbox" id="switch-2" class="mdl-switch__input" ng-model="vm.dog.castrated">
			</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
		    <input class="mdl-textfield__input" type="date" id="sample3" ng-model="vm.dog.birth">
			<label class="mdl-textfield__label" for="sample3">Data de nascimento do cão</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="sample3" ng-model="vm.dog.dog_name">
			<label class="mdl-textfield__label" for="sample3">Nome do cão</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="sample3" ng-model="vm.dog.owner_name">
			<label class="mdl-textfield__label" for="sample3">Nome do dono</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="tel" id="sample3" ng-model="vm.dog.tel">
			<label class="mdl-textfield__label" for="sample3">Telefone</label>
		</div>

		<div ng-controller="VisitIndex as mv">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent stretch" ng-click="vm.create();">
				Registrar
			</button>
		</div>

	</form>
</div>